<div class="contact-container mb-5 mt-5">
  <h2 class="text-center">
    Vamos Conversar!
  </h2>
  <div class="contact-infos mt-4">
    <form [formGroup]="contactForm" (ngSubmit)="sendMessage()" class="contact-form">
      <div class="form-group">
        <h3>Mande sua mensagem</h3>
        <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email" required>
        <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched" class="text-danger">
          Email é obrigatório e deve ser válido.
        </div>
      </div>
      <div class="form-group mt-3">
        <select id="subject" formControlName="subject" class="form-control" required>
          <option value="" disabled selected>Selecione o Assunto</option>
          <option value="General Inquiry">Consulta Geral</option>
          <option value="Project Proposal">Proposta de Projeto</option>
          <option value="Other">Outro</option>
        </select>
        <div *ngIf="contactForm.get('subject')?.invalid && contactForm.get('subject')?.touched" class="text-danger">
          Assunto é obrigatório.
        </div>
      </div>
      <div class="form-group mt-3">
        <textarea id="message" formControlName="message" class="form-control" rows="5" placeholder="Mensagem" required></textarea>
        <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched" class="text-danger">
          Mensagem é obrigatória.
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-3" [disabled]="contactForm.invalid">ENVIAR MENSAGEM</button>
    </form>
    <div class="contact-info-container">
      <div class="vector">
        <img src="assets/images/contato-vetor.svg" alt="">
      </div>
      <div class="contact-data">
        <div class="contact-icon">
          <img src="assets/icons/phone-vetor.svg" alt="">
        </div>
        <p style="margin-right: 50px;">(19) 98997-4987</p>
        <div class="contact-icon">
          <img src="assets/icons/email-vetor.svg" alt="">
        </div>
        <p>cammypaoleschi&#64;gmail.com</p>
      </div>
    </div>
  </div>

</div>
