.about-me{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-start;
  &-description{
    z-index: 99;
    max-width: 50%;
    margin-left: 50px;
  }
  &-img{
    border-radius: 5px;
    z-index: 99;
    max-width: 35%;
    max-height: 70vh;
  }
}
