<div class="about-me mt-5" id="about-me">
  <img class="about-me-img" src="assets/images/image-about.png" alt="Camille Paoleschi">
  <div class="about-me-description">
    <h2>Quem sou eu</h2>
    <p>Sou redatora, copywriter e social media há 3 anos. Já produzi mais de 500 artigos com técnicas de SEO, tive minha própria agência por quase 2 anos onde atendi clientes de diversos nichos.
      <br>Lido com nichos como tecnologia, viagens, bets/casinos, esportes, moda, marketing digital e mais. Além disso, fui responsável por cuidar da estratégia de conteúdo do Instagram e Linkedin de diferentes profissionais e empresas. Também já fiquei encarregada de lidar com projetos de UX Writing para sites de clientes no passado, focando na otimização e melhora da experiência do usuário.
      <br>Atualmente, faço parte de um projeto da Sportingbet, sendo redatora da Esportudo, uma das maiores empresas especializadas em entretenimento e marketing esportivo. Além disso, já atendi clientes de Portugal e Estados Unidos. Também sou bilíngue e possuo Inglês proficiente, portanto já produzi artigos em Inglês para alguns clientes.
    </p>
    <div class="home-buttons">
      <button class="primary-button" >
        PROJETOS E<br>CLIENTES
      </button>
      <button class="secondary-button" (click)="scrollToContact()">
        CONTATO
      </button>
    </div>
  </div>
</div>
