<div class="about-me mt-5" id="about-me">
  <img class="about-me-img" src="assets/images/image-2.png" alt="Camille Paoleschi">
  <div class="about-me-description">
    <h2>Quem sou eu</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
    <div class="home-buttons">
      <button class="primary-button" >
        PROJETOS E<br>CLIENTES
      </button>
      <button class="secondary-button" (click)="scrollToContact()">
        CONTATO
      </button>
    </div>
  </div>
</div>
