.footer {
    background-color: #d9d9d98f;
    color: white;
    text-align: center;
    padding: 20px 0;
  }

  .footer a {
    margin: 0 10px;
    display: inline-block;
  }

  .footer img {
    width: 30px;
    height: 30px;
    filter: invert(1);
  }
