<div class="home">
  <div class="home-apresentation">
    <h1>Camille Paoleschi</h1>
    <p>Copywriter, redatora e social media, transformando comunicação em vendas para o seu negócio</p>
    <div class="home-buttons">
      <button class="primary-button" (click)="scrollToAbout()">
        CONHEÇA MEU<br>TRABALHO
      </button>
      <button class="secondary-button">
        CONTATO
      </button>
    </div>
  </div>
  <div class="home-image">
    <img class="home-vetor" src="assets/images/home-image.svg" alt="Vetor">
  </div>
</div>
