<div class="skills mt-5">
    <div class="skills-title text-center mt-2">
        <h2>Principais Habilidades</h2>
    </div>
    <div class="skills-icons">
        <div class="skills-abilities">
          <p>SEO Onpage</p>
        </div>
        <div class="skills-abilities">
          <p>Storytelling</p>
        </div>
        <div class="skills-abilities">
          <p>UX Writing</p>
        </div>
        <div class="skills-abilities">
          <p>Redação para web</p>
        </div>
        <div class="skills-abilities">
          <p>Copywriting</p>
        </div>
        <div class="skills-abilities">
          <p>Criação de roteiros</p>
        </div>
        <div class="skills-abilities">
          <p>Pesquisa de mercado</p>
        </div>
        <div class="skills-abilities">
          <p>Revisão de conteúdo</p>
        </div>
    </div>
  <div class="skills-title text-center mt-5">
    <h2>Ferramentas</h2>
  </div>
  <div class="skills-icons">
    <div class="skills-abilities skills-abilities-tools">
      <p>Trello</p>
    </div>
    <div class="skills-abilities skills-abilities-tools">
      <p>Google Suite</p>
    </div>
    <div class="skills-abilities skills-abilities-tools">
      <p>Wordpress</p>
    </div>
    <div class="skills-abilities skills-abilities-tools">
      <p>YoastSEO</p>
    </div>
    <div class="skills-abilities skills-abilities-tools">
      <p>Rank Math</p>
    </div>
    <div class="skills-abilities skills-abilities-tools">
      <p>Monday</p>
    </div>
    <div class="skills-abilities skills-abilities-tools">
      <p>Click Up</p>
    </div>
    <div class="skills-abilities skills-abilities-tools">
      <p>Raventools</p>
    </div>
    <div class="skills-abilities skills-abilities-tools">
      <p>Google Trends</p>
    </div>
    <div class="skills-abilities skills-abilities-tools">
      <p>Google Tag Manager</p>
    </div>
</div>
</div>
