$box-background-color: #B91E4C;
$box-padding: 10px;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

.skills {
  &-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &-abilities {
    background-color: $box-background-color;
    border: none;
    padding: $box-padding;
    border-radius: 15px;
    box-shadow: $box-shadow;
    font-family: Arial, sans-serif;
    color: #FFF;
    max-width: 300px;
    min-width: 150px;
    margin: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: #00000054 0 6px 7px 1px;
    font-weight: bolder;
    cursor: default;
    &-tools{
      background-color: #fda532 !important;
      color: black !important;
    }
    p{
      font-size: 1.5rem;
    }
  }
}
