@import 'bootstrap/dist/css/bootstrap.min.css';

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Epilogue', sans-serif;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  background-color: #ef6d58;
background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%235d5b61' fill-opacity='0.22' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

h2{
  font-size: 3rem;
  font-weight: bolder;
}

h1{
  font-size: 3.5rem;
  font-weight: bolder;
}
p{
  margin-top: 10px;
  font-weight: lighter;
  font-size: 2rem;
  line-height: 1.2;
}
h2{
  font-size: 3rem;
}

/* Scrollbar styling for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: none; /* Track color */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar color */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Hover effect for scrollbar */
}

/* Scrollbar styling for Firefox */
body {
  scrollbar-width: thin; /* Width of the scrollbar */
  scrollbar-color: #888 #f0f0f0; /* Scrollbar and track color */
}

.primary-button{
  cursor: pointer;
  border: 2px solid black;
  padding: 10px;
  box-shadow: black -6px 6px;
  border-radius: 5px;
  color: #391400;
  font-weight: bolder;
  transition: background-color 0.5s, color 0.5s;
  &:hover {
    background-color: #391400;
    color: rgb(241, 233, 233);
  }
}

.secondary-button{
  cursor: pointer;
  color: #391400;
  font-weight: bolder;
  background: none;
  border: none;
  text-shadow: 0px 2px #00000038;
  transition: background-color 0.5s, color 0.5s;
  &:hover {
    color: rgb(241, 233, 233);
  }
}

.home-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}
